<ul class="list-group">
    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
        <li class="list-group-item">
            <a href="{{ path('inck_article_bookshelf_new') }}"> <b><i class="fa fa-plus"></i>Nouvelle étagère</b></a>
        </li>
    </div>
</ul>