{%  trans_default_domain 'ArticleBundle' %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'bookshelf.modal.close'|trans }}</span></button>
    <h4 class="modal-title" id="article-title">{{ bookshelf.title }}</h4>
    <p>{{ bookshelf.description }}</p>
</div>
<div class="modal-body">
    <p>

    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {{ 'bookshelf.modal.close'|trans }}</button>
</div>