{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}Modifier mon mot de passe{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>Modifier mon mot de passe</h1>
            <p><a href="{{ path('fos_user_profile_show') }}" class="btn btn-default"><i class="fa fa-backward"></i> Retourner à mon profil</a></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock content %}
