{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}{{ 'profile.page.change_password'|trans }}{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>Modifier mon mot de passe</h1>
            <p><a href="{{ path('fos_user_profile_show') }}" class="btn btn-default"><i class="fa fa-backward"></i> {{ 'profile.page.return_profile'|trans }}</a></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% if fosuser_form is defined and fosuser_form == 'braincrafted' %}
            {% include "FOSUserBundle:ChangePassword:changePassword_content_braincrafted.html.twig" %}
        {% else %}
            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
        {% endif %}
    </div>
{% endblock content %}
