{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}{{ 'security.login.forgot_password'|trans }}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'resetting.password.reset_password'|trans }}</h1>
            <p>{{ 'resetting.password.verify_email'|trans }}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
    </div>
{% endblock %}
