{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}{{ 'security.login.forgot_password'|trans }}{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>Réinitialiser mon mot de passe</h1>
            <p><a href="{{ path('fos_user_security_login') }}" class="btn btn-warning"><i class="fa fa-times"></i> Annuler</a></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
    </div>
{% endblock content %}
