{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}{{ 'security.login.forgot_password'|trans }}{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'resetting.password.new_password'|trans }}</h1>
            <p><a href="{{ path('fos_user_security_login') }}" class="btn btn-danger"><i class="fa fa-times"></i> {{ 'resetting.cancel'|trans }}</a></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% if fosuser_form is defined and fosuser_form == 'braincrafted' %}
            {% include "FOSUserBundle:Resetting:reset_content_braincrafted.html.twig" %}
        {% else %}
            {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
        {% endif %}
    </div>
{% endblock content %}
