{% extends 'TwigBundle:Exception:error.html.twig' %}

{% block subtitle %}
    <blockquote>
        <p>Vous ne passerez pas !</p>
        <small style="color: #ffffff;">
            Gandalf dans <cite title="Source Title">Le seigneur des anneaux : La communauté de l'anneau</cite>
        </small>
    </blockquote>
{% endblock %}

{% block last %}<h3>Mais vous avez le droit de lire cet article...</h3>{% endblock %}