{% extends 'TwigBundle:Exception:error.html.twig' %}

{% block subtitle %}
    <blockquote>
        <p>On ne sait jamais, peut-être qu'on se rencontrera un jour futur ?</p>
        <small style="color: #ffffff;">
            Emmett Brown de 1955 dans <cite title="Source Title">Retour vers le futur</cite>
        </small>
    </blockquote>
{% endblock %}
