{% extends 'InckCoreBundle::layout.html.twig' %}
{% trans_default_domain 'CoreBundle' %}

{% block title %}Historique des notifications{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/notification/manager/history.css'
        'bundles/incknotification/css/Manager/history.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>Historique des notifications</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ render(controller('InckNotificationBundle:Manager:list', { page: page, popover: false })) }}
            </div>
        </div>
    </div>
{% endblock %}