# Cache and logs
/app/check.php
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/update
!app/clean

# Parameters
/app/config/parameters.yml
/app/config/parameters.yml.dist

# Managed by Composer
/app/bootstrap.php.cache
/bin/
/vendor/

# Assets and user uploads
/web/fonts
/web/bundles/
/web/components/
/web/article/image/*
!/web/article/image/.gitkeep
web/media

# Composer
/composer.lock

# PhpStorm
/.idea/