# Cache and logs
/app/check.php
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/update

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini
/app/config/parameters.yml.dist

# Managed by Composer
/app/bootstrap.php.cache
/bin/
/vendor/

# Assets and user uploads
/web/fonts
/web/bundles/
/web/uploads/
/web/components/
/web/article/image/*
!/web/article/image/.gitkeep
web/media

# PHPUnit
/app/phpunit.xml

# Composer PHAR
/composer.phar
/composer.lock

# PhpStorm
/.idea/