# Cache and logs
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini
/app/config/parameters.yml.dist

# Managed by Composer
/app/bootstrap.php.cache
/bin/
/vendor/
/components

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml

# Composer PHAR
/composer.phar
/composer.lock