{% trans_default_domain 'FOSUserBundle' %}

<div id="user-profile-bookshelf" class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingBookshelf">
        <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseBookshelf" aria-expanded="false" aria-controls="collapseBookshelf">
                <i class="fa fa-fw fa-bookmark"> </i>
                {{ 'profile.page.list_bookshelf'|trans }}<span class="badge pull-right">{{ user.bookshelfs|length }}</span>
            </a>
        </h4>
    </div>
    <div id="collapseBookshelf" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBookshelf">
        <div class="panel-body">
            <div class="articles">
                {% include 'InckArticleBundle:Bookshelf:add.html.twig' %}
            </div>
        </div>
    </div>
</div>

