{% if not app.user %}
    <div class="container">
        <div class="alert alert-info alert-eap alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <strong>Early Access Program.</strong> Vous êtes actuellement sur une version alpha de <strong>Inck</strong>.
            Vous pouvez reporter les bugs sur notre dépôt <a href="https://github.com/SmaltCreation/Inck/issues/new" class="alert-link">GitHub</a>.
            Merci de votre visite.
        </div>
    </div>
{% endif %}

{% for type, messages in app.session.flashbag.all() %}
    <section id="messages">
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ type }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </section>
{% endfor %}
