{% for type, messages in app.session.flashbag.all() %}
    <section id="messages">
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ type }}" role="alert">
                    {{ message|nl2br }}
                </div>
            {% endfor %}
        </div>
    </section>
{% endfor %}
