.registration section, .profile section {
    margin-bottom: 20px;
}

.registration .btn-inline, .profile .btn-inline {
    display: inline;
}

.registration .img-inline, .profile .img-inline {
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    opacity: 0.8;
}

.registration .description, .profile .description {
    text-align: justify;
    font-size: 11px;
}

.registration h2, .profile h2 {
    margin-top: 0;
}

.input-append.date.datepicker {
    padding: 0;
}

.first-section {
    margin-bottom: 60px;
}
