parameters:
    database_driver:    pdo_mysql
    database_host:      127.0.0.1
    database_port:      ~
    database_name:      inck
    database_user:      root
    database_password:  ~

    mailer_transport:   smtp
    mailer_host:        127.0.0.1
    mailer_user:        null
    mailer_password:    null
    mailer_encryption:  ssl
    mailer_auth_mode:   login

    locale: fr
    secret: ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    node: /usr/local/bin/node
    node_paths: [/usr/local/bin/node, /usr/local/lib/node_modules, %kernel.root_dir%/Resources/node_modules]

    upload.article_image.uri_prefix:            /article/image
    upload.article_image.upload_destination:    %kernel.root_dir%/../web/article/image

    session_handler: session.handler.memcache

    inck_ratchet.server_host: inck.dev
    inck_ratchet.server_port: 8080
    inck_ratchet.server_name: main

    inck_ratchet.rpc:
        subscription:   inck_subscription.rpc.subscription_manager

    inck_subscription.aliases:
        user_class:     Inck\UserBundle\Entity\UserSubscription
        category_class: Inck\ArticleBundle\Entity\CategorySubscription
        tag_class:      Inck\ArticleBundle\Entity\TagSubscription

    session_memcache_host: 127.0.0.1
    session_memcache_port: 11211
    session_memcache_prefix: inck
    session_memcache_expire: 3600

    facebook_app_id:  putYourFacebookAppId
    facebook_app_secret:  putYourFacebookSecretKey
    google_app_id: putYourGoogleAppId
    google_app_secret:  putYourGoogleSecretKey
