.btn-popover {
    padding: 5px 10px 5px 10px;
}

.btn-circle {
    border-radius: 50%;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: 0;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #384884;
}
.btn-facebook.voted,
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #3f69ac;
    border-color: #3b5998;
}
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-subscribe {
    background-image: none;
}
.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-subscribe,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-subscribe:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-subscribe:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-subscribe:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
    background-color: #3b5998;
    border-color: #384884;
}
.btn-facebook .badge {
    color: #3b5998;
    background-color: #fff;
}

.btn-twitter {
    color: #fff;
    background-color: #56a3d9;
    border-color: #568ec5;
}
.btn-twitter.voted,
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
    color: #fff;
    background-color: #57b6ed;
    border-color: #56a3d9;
}
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
    background-image: none;
}
.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
    background-color: #56a3d9;
    border-color: #568ec5;
}
.btn-twitter .badge {
    color: #56a3d9;
    background-color: #fff;
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: #c94735;
}
.btn-google.voted,
.btn-google:hover,
.btn-google:focus,
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
    color: #fff;
    background-color: #f14f3d;
    border-color: #dd4b39;
}
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-subscribe {
    background-image: none;
}
.btn-google.disabled,
.btn-google[disabled],
fieldset[disabled] .btn-subscribe,
.btn-google.disabled:hover,
.btn-google[disabled]:hover,
fieldset[disabled] .btn-subscribe:hover,
.btn-google.disabled:focus,
.btn-google[disabled]:focus,
fieldset[disabled] .btn-subscribe:focus,
.btn-google.disabled:active,
.btn-google[disabled]:active,
fieldset[disabled] .btn-subscribe:active,
.btn-google.disabled.active,
.btn-google[disabled].active,
fieldset[disabled] .btn-google.active {
    background-color: #dd4b39;
    border-color: #c94735;
}
.btn-google .badge {
    color: #dd4b39;
    background-color: #fff;
}

.btn-linkedin {
    color: #fff;
    background-color: #4875b4;
    border-color: #4068a0;
}
.btn-linkedin.voted,
.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-linkedin {
    color: #fff;
    background-color: #4b86c8;
    border-color: #4875b4;
}
.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-subscribe {
    background-image: none;
}
.btn-linkedin.disabled,
.btn-linkedin[disabled],
fieldset[disabled] .btn-subscribe,
.btn-linkedin.disabled:hover,
.btn-linkedin[disabled]:hover,
fieldset[disabled] .btn-subscribe:hover,
.btn-linkedin.disabled:focus,
.btn-linkedin[disabled]:focus,
fieldset[disabled] .btn-subscribe:focus,
.btn-linkedin.disabled:active,
.btn-linkedin[disabled]:active,
fieldset[disabled] .btn-subscribe:active,
.btn-linkedin.disabled.active,
.btn-linkedin[disabled].active,
fieldset[disabled] .btn-linkedin.active {
    background-color: #4875b4;
    border-color: #4068a0;
}
.btn-linkedin .badge {
    color: #4875b4;
    background-color: #fff;
}

.btn-subscribe {
    color: #fff;
    background-color: #93648d;
    border-color: #80577b;
}
.btn-subscribe.voted,
.btn-subscribe:hover,
.btn-subscribe:focus,
.btn-subscribe:active,
.btn-subscribe.active,
.open > .dropdown-toggle.btn-subscribe {
    color: #fff;
    background-color: #704c6c;
    border-color: #684764;
}
.btn-subscribe:active,
.btn-subscribe.active,
.open > .dropdown-toggle.btn-subscribe {
    background-image: none;
}
.btn-subscribe.disabled,
.btn-subscribe[disabled],
fieldset[disabled] .btn-subscribe,
.btn-subscribe.disabled:hover,
.btn-subscribe[disabled]:hover,
fieldset[disabled] .btn-subscribe:hover,
.btn-subscribe.disabled:focus,
.btn-subscribe[disabled]:focus,
fieldset[disabled] .btn-subscribe:focus,
.btn-subscribe.disabled:active,
.btn-subscribe[disabled]:active,
fieldset[disabled] .btn-subscribe:active,
.btn-subscribe.disabled.active,
.btn-subscribe[disabled].active,
fieldset[disabled] .btn-subscribe.active {
    background-color: #93648d;
    border-color: #80577b;
}
.btn-subscribe .badge {
    color: #93648D;
    background-color: #fff;
}

.btn-important {
    color: #fff;
    background-color: #003399;
    border-color: #002d88;
}
.btn-important.voted,
.btn-important:hover,
.btn-important:focus,
.btn-important:active,
.btn-important.active,
.open > .dropdown-toggle.btn-important {
    color: #fff;
    background-color: #002a80;
    border-color: #002776;
}
.btn-important:active,
.btn-important.active,
.open > .dropdown-toggle.btn-important {
    background-image: none;
}
.btn-important.disabled,
.btn-important[disabled],
fieldset[disabled] .btn-important,
.btn-important.disabled:hover,
.btn-important[disabled]:hover,
fieldset[disabled] .btn-important:hover,
.btn-important.disabled:focus,
.btn-important[disabled]:focus,
fieldset[disabled] .btn-important:focus,
.btn-important.disabled:active,
.btn-important[disabled]:active,
fieldset[disabled] .btn-important:active,
.btn-important.disabled.active,
.btn-important[disabled].active,
fieldset[disabled] .btn-important.active {
    background-color: #003399;
    border-color: #002d88;
}
.btn-important .badge {
    color: #003399;
    background-color: #fff;
}

.btn-inverse {
    color: #fff;
    background-color: #333333;
    border-color: #222222;
}
.btn-inverse.voted,
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
    color: #fff;
    background-color: #444444;
    border-color: #333333;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
    background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
    background-color: #333333;
    border-color: #222222;
}
.btn-inverse .badge {
    color: #333333;
    background-color: #fff;
}

.btn-category {
    color: #fff;
    background-color: #ffb46b;
    border-color: #FFA54C;
}
.btn-category.voted,
.btn-category:hover,
.btn-category:focus,
.btn-category:active,
.btn-category.active,
.open > .dropdown-toggle.btn-category {
    color: #fff;
    background-color: #FFA54C;
    border-color: #E98625;
}
.btn-category:active,
.btn-category.active,
.open > .dropdown-toggle.btn-category {
    background-image: none;
}
.btn-category.disabled,
.btn-category[disabled],
fieldset[disabled] .btn-category,
.btn-category.disabled:hover,
.btn-category[disabled]:hover,
fieldset[disabled] .btn-category:hover,
.btn-category.disabled:focus,
.btn-category[disabled]:focus,
fieldset[disabled] .btn-category:focus,
.btn-category.disabled:active,
.btn-category[disabled]:active,
fieldset[disabled] .btn-category:active,
.btn-category.disabled.active,
.btn-category[disabled].active,
fieldset[disabled] .btn-category.active {
    background-color: #ffb46b;
    border-color: #FFA54C;
}
.btn-category .badge {
    color: #ffb46b;
    background-color: #fff;
}