.btn-popover {
    padding: 5px 10px 5px 10px;
}

.btn-circle {
    border-radius: 50%;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #364680;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #4269af;
    border-color: #3b5998;
}

.btn-twitter {
    color: #fff;
    background-color: #56a3d9;
    border-color: #5499cd;
}

.btn-twitter:hover {
    color: #fff;
    background-color: #5eb7f1;
    border-color: #56a3d9;
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: #ce4836;
}

.btn-google:hover {
    color: #fff;
    background-color: #f5513f;
    border-color: #dd4b39;
}

.btn-linkedin {
    color: #fff;
    background-color: #4875B4;
    border-color: #3f6097;
}

.btn-linkedin:hover {
    color: #fff;
    background-color: #4a85c6;
    border-color: #4875B4;
}


.btn-primary {
    color: #404040;
    background-color: #e3ddca;
    border-color: #d8d2c0;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #404040;
    background-color: #cdc7b6;
    border-color: #c2bcac;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #e3ddca;
    border-color: #d8d2c0;
}
.btn-primary .badge {
    color: #e3ddca;
    background-color: #404040;
}

.btn-success {
    color: #244913;
    background-color: #d3e397;
    border-color: #c3d38a;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #244913;
    background-color: #bbcb83;
    border-color: #a8b777;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #d3e397;
    border-color: #c3d38a;
}
.btn-success .badge {
    color: #d3e397;
    background-color: #244913;
}

.btn-info {
    color: #001742;
    background-color: #c3e4e1;
    border-color: #badad7;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #001742;
    background-color: #b0cecb;
    border-color: #a5c1be;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #c3e4e1;
    border-color: #badad7;
}
.btn-info .badge {
    color: #c3e4e1;
    background-color: #001742;
}

.btn-warning {
    color: #d2410b;
    background-color: #ffc65d;
    border-color: #f7c05a;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #d2410b;
    background-color: #ebb756;
    border-color: #ddac51;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #ffc65d;
    border-color: #d99202;
}
.btn-warning .badge {
    color: #ffc65d;
    background-color: #d2410b;
}

.btn-danger {
    color: #fff;
    background-color: #f15645;
    border-color: #dc4f3f;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #cb493a;
    border-color: #b54134;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #f15645;
    border-color: #dc4f3f;
}
.btn-danger .badge {
    color: #f15645;
    background-color: #fff;
}

.btn-poison {
    color: #fff;
    background-color: #93648D;
    border-color: #80577b;
}
.btn-poison:hover,
.btn-poison:focus,
.btn-poison:active,
.btn-poison.active,
.open > .dropdown-toggle.btn-poison {
    color: #fff;
    background-color: #704c6c;
    border-color: #684764;
}
.btn-poison:active,
.btn-poison.active,
.open > .dropdown-toggle.btn-poison {
    background-image: none;
}
.btn-poison.disabled,
.btn-poison[disabled],
fieldset[disabled] .btn-poison,
.btn-poison.disabled:hover,
.btn-poison[disabled]:hover,
fieldset[disabled] .btn-poison:hover,
.btn-poison.disabled:focus,
.btn-poison[disabled]:focus,
fieldset[disabled] .btn-poison:focus,
.btn-poison.disabled:active,
.btn-poison[disabled]:active,
fieldset[disabled] .btn-poison:active,
.btn-poison.disabled.active,
.btn-poison[disabled].active,
fieldset[disabled] .btn-poison.active {
    background-color: #93648D;
    border-color: #80577b;
}
.btn-poison .badge {
    color: #93648D;
    background-color: #fff;
}

.btn-important {
    color: #fff;
    background-color: #003399;
    border-color: #002d88;
}
.btn-important:hover,
.btn-important:focus,
.btn-important:active,
.btn-important.active,
.open > .dropdown-toggle.btn-important {
    color: #fff;
    background-color: #002a80;
    border-color: #002776;
}
.btn-important:active,
.btn-important.active,
.open > .dropdown-toggle.btn-important {
    background-image: none;
}
.btn-important.disabled,
.btn-important[disabled],
fieldset[disabled] .btn-important,
.btn-important.disabled:hover,
.btn-important[disabled]:hover,
fieldset[disabled] .btn-important:hover,
.btn-important.disabled:focus,
.btn-important[disabled]:focus,
fieldset[disabled] .btn-important:focus,
.btn-important.disabled:active,
.btn-important[disabled]:active,
fieldset[disabled] .btn-important:active,
.btn-important.disabled.active,
.btn-important[disabled].active,
fieldset[disabled] .btn-important.active {
    background-color: #003399;
    border-color: #002d88;
}
.btn-important .badge {
    color: #003399;
    background-color: #fff;
}