.btn-popover {
    padding: 5px 10px 5px 10px;
}

.btn-circle {
    border-radius: 50%;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: 0;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #364680;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #4269af;
    border-color: #3b5998;
}

.btn-twitter {
    color: #fff;
    background-color: #56a3d9;
    border-color: #5499cd;
}

.btn-twitter:hover {
    color: #fff;
    background-color: #5eb7f1;
    border-color: #56a3d9;
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: #ce4836;
}

.btn-google:hover {
    color: #fff;
    background-color: #f5513f;
    border-color: #dd4b39;
}

.btn-linkedin {
    color: #fff;
    background-color: #4875B4;
    border-color: #3f6097;
}

.btn-linkedin:hover {
    color: #fff;
    background-color: #4a85c6;
    border-color: #4875B4;
}

.btn-subscribe {
    color: #fff;
    background-color: #93648D;
    border-color: #80577b;
}
.btn-subscribe.voted,
.btn-subscribe:hover,
.btn-subscribe:focus,
.btn-subscribe:active,
.btn-subscribe.active,
.open > .dropdown-toggle.btn-subscribe {
    color: #fff;
    background-color: #704c6c;
    border-color: #684764;
}
.btn-subscribe:active,
.btn-subscribe.active,
.open > .dropdown-toggle.btn-subscribe {
    background-image: none;
}
.btn-subscribe.disabled,
.btn-subscribe[disabled],
fieldset[disabled] .btn-subscribe,
.btn-subscribe.disabled:hover,
.btn-subscribe[disabled]:hover,
fieldset[disabled] .btn-subscribe:hover,
.btn-subscribe.disabled:focus,
.btn-subscribe[disabled]:focus,
fieldset[disabled] .btn-subscribe:focus,
.btn-subscribe.disabled:active,
.btn-subscribe[disabled]:active,
fieldset[disabled] .btn-subscribe:active,
.btn-subscribe.disabled.active,
.btn-subscribe[disabled].active,
fieldset[disabled] .btn-subscribe.active {
    background-color: #93648D;
    border-color: #80577b;
}
.btn-subscribe .badge {
    color: #93648D;
    background-color: #fff;
}

.btn-important {
    color: #fff;
    background-color: #003399;
    border-color: #002d88;
}
.btn-important.voted,
.btn-important:hover,
.btn-important:focus,
.btn-important:active,
.btn-important.active,
.open > .dropdown-toggle.btn-important {
    color: #fff;
    background-color: #002a80;
    border-color: #002776;
}
.btn-important:active,
.btn-important.active,
.open > .dropdown-toggle.btn-important {
    background-image: none;
}
.btn-important.disabled,
.btn-important[disabled],
fieldset[disabled] .btn-important,
.btn-important.disabled:hover,
.btn-important[disabled]:hover,
fieldset[disabled] .btn-important:hover,
.btn-important.disabled:focus,
.btn-important[disabled]:focus,
fieldset[disabled] .btn-important:focus,
.btn-important.disabled:active,
.btn-important[disabled]:active,
fieldset[disabled] .btn-important:active,
.btn-important.disabled.active,
.btn-important[disabled].active,
fieldset[disabled] .btn-important.active {
    background-color: #003399;
    border-color: #002d88;
}
.btn-important .badge {
    color: #003399;
    background-color: #fff;
}

.btn-inverse {
    color: #fff;
    background-color: #333333;
    border-color: #222222;
}
.btn-inverse.voted,
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
    color: #fff;
    background-color: #444444;
    border-color: #333333;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
    background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
    background-color: #333333;
    border-color: #222222;
}
.btn-inverse .badge {
    color: #333333;
    background-color: #fff;
}