html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}

#content {
    padding-bottom:700px;   /* Height of the footer element */
}

footer {
    width:100%;
    height: 650px;
    background: #aececb url("../images/footer_background.png");
    background-repeat: no-repeat;
    position:absolute;
    bottom:0;
    left:0;
}

.carousel .item{
    height: 200px;
}

footer #footer-parteners {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #404040;
}

#footer-links {
    margin-top: 50px;
    padding-top: 100px;
    color: #ffffff;
}

@media screen and (max-width: 480px) {
    #footer-links {
        padding-top: 50px;
    }
}

/* Separator */
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    overflow: hidden;
    /* we don't want the pseudo-elements sticking out */
}

.container svg {
    display: block;
}

section {
    position: relative;
}

section::before,
section::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.ss-style-triangles::before{
    left: 50%;
    width: 100px;
    height: 100px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}

.ss-style-triangles::before {
    top: -50px;
    background: inherit;
}