div.textarea-max-length-container {
    position: relative;
}

textarea {
    resize: none;
}

textarea + span.badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    transition: opacity 1s linear;
}

textarea + span.badge:hover {
    opacity: 0.6;
}