/* Fonts */
@font-face {
    font-family: Gravity;
    src: url(fonts/gravity/Gravity-Light.ttf);
}

@font-face {
    font-family: Gravity;
    src: url(fonts/gravity/Gravity-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Gravity;
    src: url(fonts/gravity/Gravity-Light-Italic.ttf);
    font-style: italic;
}

/* Callout */
.callout {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

.callout-left {
    border-left: 3px solid #d78b7d;
    text-align: left;
}

.callout-right {
    border-right: 3px solid #d78b7d;
    text-align: right;
}

/* Popover static */
.popover-static {
    position: relative;
    display: block;
    width: 80%;
    margin: 20px;
    max-width: none;
}

.popover-static-right {
    float: left;
}

.popover-static-left {
    float: right;
}

/* Bootstrap override */
/* Accordion */
.accordion .panel-default > .panel-heading {
    background-color: #fff;
}

.accordion .panel-default > .panel-heading a  {
    color: #404040;
    text-decoration: none;
}

.accordion .panel-default > .panel-heading a:hover  {
    color: #57a3e8;
    outline: 0;
}

/* Alert */
.alert-default {
    background-color: #fffffe;
    border-color: #444;
    color: #a19570;
}

/* Datepicker */
.datepicker i {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1.28571429em;
    text-align: center;
}

.datepicker i.icon-arrow-left:before {
    content: "\f053";
}

.datepicker i.icon-arrow-right:before {
    content: "\f054";
}

/* Pagination */
.panel .pagination {
    margin: 0;
}