/* Fonts */
@font-face
{
    font-family: Gravity;
    src: url(fonts/gravity/Gravity-Light.ttf);
}

@font-face
{
    font-family: Gravity;
    src: url(fonts/gravity/Gravity-Bold.ttf);
    font-weight: bold;
}

@font-face
{
    font-family: Gravity;
    src: url(fonts/gravity/Gravity-Light-Italic.ttf);
    font-style: italic;
}

/* Callout */
.callout {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

.callout-left {
    border-left: 3px solid #d78b7d;
    text-align: left;
}

.callout-right {
    border-right: 3px solid #d78b7d;
    text-align: right;
}

/* Popover static */
.popover-static {
    position: relative;
    display: block;
    width: 80%;
    margin: 20px;
    max-width: none;
}

.popover-static-right {
    float: left;
}

.popover-static-left {
    float: right;
}

/* Bootstrap override */
/* Jumbotron */
.jumbotron {
    background: #62868d url("../images/noisy-texture-100x100-o5-d10-c-62868d-t0.png");
    color: #dfdfdf;
    font-family: Gravity, "Helvetica Neue", Helvetica,Arial, sans-serif;
    padding-top: 80px;
    padding-bottom: 60px;
    margin-bottom: 80px;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4 {
    color: #f9f9f9;
    font-family: Gravity, "Helvetica Neue", Helvetica,Arial, sans-serif;
}

.jumbotron h1 .small, .jumbotron h2 .small, .jumbotron h3 .small, .jumbotron h4 .small {
    color: #dfdfdf;
}

.jumbotron .btn {
    font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    .jumbotron {
        padding-top: 60px;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
}

/* Tabs */
.nav.nav-tabs {
    margin-bottom: 20px;
}

.nav-tabs > li > a:hover {
    background-color: #fff;
}

.nav-tabs > li.active > a {
    color: #222;
}

/* Alert */
.alert-default {
    background-color: #fffffe;
    border-color: #444;
    color: #a19570;
}