#header {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    background-position: center;
}

.jumbotron {
    padding-top: 95px;
    padding-bottom: 60px;
    margin-bottom: 0;
}

.jumbotron h1 .small, .jumbotron h2 .small, .jumbotron h3 .small, .jumbotron h4 .small {
    color: #dfdfdf;
}