*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'ecoicons';
    src: url("fonts/ecoicons/ecoicons.eot");
    src: url("fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("fonts/ecoicons/ecoicons.woff") format("woff"), url("fonts/ecoicons/ecoicons.ttf") format("truetype"), url("fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
}

.gn-menu .fa-lg, .gn-menu .navbar-avatar{
    margin-left: 16px;
    margin-right:16px;
}

/* Icomoon.com */

.gn-menu-main, .gn-menu-main ul {
    z-index: 1000;
    margin: 0;
    padding: 0;
    background: #444444;
    color: #d3d3d3;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 60px;
}

.gn-menu-main ul {
    background: #333333;
}

.gn-menu-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    font-size: 13px;
}

.gn-menu-main a:not(.notification-link) {
    display: block;
    height: 100%;
    color: #d3d3d3;
    text-decoration: none;
    cursor: pointer;
}

.gn-menu-main a:not(.notification-link).active,
.gn-menu li.gn-search-item.active,
.gn-menu li.gn-search-item.active a:not(.notification-link),
.no-touch .gn-menu-main a:not(.notification-link):hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a:not(.notification-link) {
    background: #222222;
    color: #d3d3d3;
}

.gn-menu-main > li {
    background: #333333;
    display: block;
    float: left;
    height: 100%;
    border-left: 1px solid #d3d3d3;
    text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
    position: relative;
    width: 60px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gn-menu-main > li:first-child {
    float: left;
    border-left: none;
}

.gn-menu-main > li > a:not(.notification-link) {
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.gn-menu-main:after {
    display: table;
    clear: both;
    content: "";
}

.gn-menu-wrapper {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 60px;
    border-top: 1px solid #d3d3d3;
    background: #444444;
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    transform: translateX(-60px);
    -webkit-transition: -webkit-transform 0.3s, width 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s;
    transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
    position: absolute;
    overflow-y: scroll;
    width: 370px;
    height: 100%;
}

.gn-menu {
    border-bottom: 1px solid #d3d3d3;
    text-align: left;
    font-size: 18px;
}

.gn-menu li li {
    border-top: 1px solid #d3d3d3;
}

.gn-submenu li {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.gn-submenu li a:not(.notification-link) {
    color: #d3d3d3
}

input.gn-search {
    position: relative;
    z-index: 10;
    padding-left: 60px;
    outline: none;
    border: none;
    background: transparent;
    color: #d3d3d3;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
    color: #d3d3d3
}

.gn-search:-moz-placeholder {
    color: #d3d3d3
}

.gn-search::-moz-placeholder {
    color: #d3d3d3
}

.gn-search:-ms-input-placeholder {
    color: #d3d3d3
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
    color: transparent
}

input.gn-search:focus {
    cursor: text
}

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
    color: #444444
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
    color: #444444
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
    color: #444444
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
    color: #444444
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
    color: #444444
}

.gn-menu-main a.gn-icon-search {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
}

.gn-icon::before {
    display: inline-block;
    width: 60px;
    text-align: center;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'ecoicons', serif;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.gn-icon-search::before {
    content: "\e005"
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}

.gn-icon-menu::before {
    margin-left: -15px;
    vertical-align: -2px;
    width: 30px;
    height: 3px;
    background: #d3d3d3;
    box-shadow: 0 3px #444444, 0 -6px #d3d3d3, 0 -9px #444444, 0 -12px #d3d3d3;
    content: '';
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
    background: #d3d3d3;
    box-shadow: 0 3px #222222, 0 -6px #d3d3d3, 0 -9px #222222, 0 -12px #d3d3d3;
}

.gn-icon-menu.gn-selected::before {
    background: #d3d3d3;
    box-shadow: 0 3px #444444, 0 -6px #d3d3d3, 0 -9px #444444, 0 -12px #d3d3d3;
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
    width: 340px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
    height: 60px
}

@media screen and (max-width: 422px) {
    .gn-menu-wrapper.gn-open-all {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
        width: 100%;
    }

    .gn-menu-wrapper.gn-open-all .gn-scroller {
        width: 130%
    }
}

/* Additional */
#gn-menu .brand {
    border-right: 1px solid #d3d3d3;
}

.navbar-avatar {
    margin-right: 5px;
    border: 1px solid #444444;
}

.gn-menu li.authenticated {
    border-bottom: 1px solid #d3d3d3;
}

#gn-menu li.fos_user_security_login a,
.gn-menu li.authenticated.fos_user_security_login a {
    color: #ffffff;
    background-color: #77ad83;
}

#gn-menu li.fos_user_security_login a:hover,
.gn-menu li.authenticated.fos_user_security_login a:hover {
    color: #ffffff;
    background-color: #86c197;
}

#gn-menu li.brand a,
#gn-menu li.fos_user_security_logout a,
.gn-menu li.authenticated.fos_user_security_logout a,
#gn-menu li.fos_user_registration_register a,
#gn-menu li.fos_user_profile_show a,
.gn-menu li.authenticated.fos_user_registration_register a,
.gn-menu li.authenticated.fos_user_profile_show a {
    color: #d3d3d3;
    background-color: #333333;
}

#gn-menu li.brand a:hover,
#gn-menu li.fos_user_security_logout a:hover,
.gn-menu li.authenticated.fos_user_security_logout a:hover,
#gn-menu li.fos_user_registration_register a:hover,
#gn-menu li.fos_user_profile_show a:hover,
.gn-menu li.authenticated.fos_user_registration_register a:hover,
.gn-menu li.authenticated.fos_user_profile_show a:hover {
    color: #d3d3d3;
    background-color: #222222;
}

#gn-menu li.search form {
    float: right;
    display: inline;
    line-height: 0;
    margin: 12px 0 14px 0;
    width: auto;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
}

#gn-menu li.search {
    border-left: 0;
}

#gn-menu li.search form .input-group{
    width: 150px;
}

/* Notifications */
li.notifications-popover-container {
    border-left: none;
    border-right: 1px solid #d3d3d3;
}

.notifications-popover-container .popover {
    max-width: 100%;
}

.notifications-popover-more {
    margin-top: 10px;
}

li.search {
    background: inherit;
}