{% extends "InckCoreBundle::layout.html.twig" %}

{% block title %}Panel d'administration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/core/admin/index.css'
        'bundles/inckarticle/css/Article/show_modal.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>Administration</h1>
            <p>Un grand pouvoir implique de grandes responsabilités.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="entities-manager" class="container">

        <!-- Modal -->
        <div class="modal fade" id="article-preview" tabindex="-1" role="dialog" aria-labelledby="article-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content"></div>
            </div>
        </div>
        <!-- /.modal -->

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default" id="entities-manager-articles" data-alias="articles">
                    <div class="panel-heading"><h4>Gestion des articles</h4></div>
                    <div class="panel-data"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default" id="entities-manager-users" data-alias="users">
                    <div class="panel-heading"><h4>Gestion des utilisateurs</h4></div>
                    <div class="panel-data"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default" id="entities-manager-categories" data-alias="categories">
                    <div class="panel-heading"><h4>Gestion des catégories</h4></div>
                    <div class="panel-data"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default" id="entities-manager-badges" data-alias="badges">
                    <div class="panel-heading"><h4>Gestion des badges</h4></div>
                    <div class="panel-data"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output='js/compiled/core/admin/index.js'
        'bundles/inckcore/js/Admin/index.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}