.login .logo {
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
}

.login .description {
    text-align: justify;
    font-size: 16px;
    color: #696969;
}

.login h3 {
    margin-top: 0;
    color: #696969;
}