{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}{{ 'resetting.password.verify_email'|trans }}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'resetting.password.verify_email'|trans }}</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
{% endblock content %}