<p>
    Nous sommes désolé, les inscriptions sont fermées au public. Ceci est un choix de l'administrateur du site.<br>
    Si vous voulez un compte, merci de contacter l'administrateur.

    TODO: Formulaire de contact
</p>