<p>
    {{ "We are sorry, Inscription is closed to the public. This was a decision made by the site administrator."|trans }}<br>
    {{ "If you wish to create an account, please contact the administrator."|trans }}

    TODO: Formulaire de contact
</p>