{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}{{ "Register"|trans }}{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ "Registration closed to the public"|trans }}</h1>
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-default"><i class="fa fa-backward"></i>{{ "Go back to login"|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "InckUserBundle:Registration:close_content.html.twig" %}
    </div>
{% endblock content %}
