{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}M'enregistrer{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>Inscriptions fermées au public</h1>
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-default"><i class="fa fa-backward"></i> Retourner au login</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "InckUserBundle:Registration:close_content.html.twig" %}
    </div>
{% endblock content %}
