{% extends "InckUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}M'enregistrer{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='yui_css' filter='cssrewrite' output='css/compiled/user/registration/register.css'
        'bundles/inckuser/css/Registration/register.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>M'enregistrer</h1>
            <p>
                <a href="{{ path('home') }}" class="btn btn-default"><i class="fa fa-home"></i> Retourner à l'accueil</a>
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary"><i class="fa fa-sign-in"></i> Me connecter</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock content %}
