{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}Editer un groupe{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>Editer le groupe : {{ group_name }}</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "InckUserBundle:Group:edit_content.html.twig" %}
    </div>
{% endblock content %}
