{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}{{ 'group.pages.group_list'|trans }}{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'group.pages.group_list'|trans }}</h1>
            <p>
                <a href="{{ path('fos_user_group_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'group.pages.create_group'|trans }}</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "InckUserBundle:Group:list_content.html.twig" %}
    </div>
{% endblock content %}
