{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}Liste des groupes{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>Liste des groupes</h1>
            <p>
                <a href="{#{ path('inck_user_admin') }#}" class="btn btn-default"><i class="fa fa-backward"></i> Retourner à l'administration</a>
                <a href="{{ path('fos_user_group_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Créer un nouveau groupe</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "InckUserBundle:Group:list_content.html.twig" %}
    </div>
{% endblock content %}
