{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}Créer un nouveau groupe{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>Créer un nouveau groupe</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "InckUserBundle:Group:new_content.html.twig" %}
    </div>
{% endblock content %}
