{% extends "InckUserBundle::layout.html.twig" %}
{% block title %}{{ group.getName() }}{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ group.getName() }}</h1>
            <p>
                <a href="#" class="btn btn-primary"><i class="fa fa-user"></i> Ajouter un utilisateur</a>
                <a href="#" class="btn btn-inverse"><i class="fa fa-legal"></i> Participer aux enchères</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "InckUserBundle:Group:show_content.html.twig" %}
    </div>
{% endblock content %}
