{% set data = 'id="subscribe-' ~ alias ~ '-' ~ id ~ '" data-entity-alias="' ~ alias ~ '" data-entity-id="' ~ id ~ '"' %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <button class="btn btn-subscribe {% if subscribed %}subscribed{% endif %}" {{ data|raw }}>
        {% if subscribed %}
            <i class="fa fa-check"></i> <span class="btn-text">Vous êtes abonné</span>
        {% else %}
            <i class="fa fa-thumb-tack"></i> <span class="btn-text">S'abonner</span>
        {% endif %}
    </button>
{% else %}
    {% set tooltip = 'data-toggle="tooltip" data-placement="bottom" data-container="body" title="Connectez-vous pour vous abonner"' %}
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-subscribe btn-tooltip" {{ data|raw }} {{ tooltip|raw }}>
        <i class="fa fa-thumb-tack"></i> <span class="btn-text">S'abonner</span>
    </a>
{% endif %}