<nav id="bt-menu" class="bt-menu">
    <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
    <ul>
        <li><a href="{{ path('inck_article_article_new') }}">Écrire</a></li>
        <li><a href="#">Modérer</a></li>
        <li><a href="#">Catégories</a></li>
        <li><a href="#">A propos</a></li>
        <li><a href="#">Presses</a></li>
    </ul>
    <ul>
        <li><a href="#" class="bt-icon btn-twitter"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="#" class="bt-icon btn-google"><i class="fa fa-google-plus fa-lg"></i></a></li>
        <li><a href="#" class="bt-icon btn-facebook"><i class="fa fa-facebook fa-lg"></i></a></li>
    </ul>
</nav>