<h2>
    <i class="fa fa-book"></i>
    Notre philosphie
</h2>
<p>
    <strong>Inck est une philosophie</strong> de liberté et de partage, où notre souhait est de pouvoir donner la parole au monde entier sans se mesurer aux barrières de la diffusion des pensées.
    Nous voulons quelque chose de libre, oui, dans les limites législatives car nos tenons aussi à la sérénité de ce lieu.
    Nous essayons de faire de Inck une plateforme de l'échange où les grands esprits peuvent s'exprimer comme les autres,
    où les critères sociaux et les opinions diverses ne modifient point la place que méritent les articles de qualité.
    Tout cela, nous essayons de le faire dans la transparence la plus total : nos sources (code du site) sont disponnibles et à la vue de tous car <em>open source</em>.<br>
    <strong>Nous croyons que si le monde prend goût de s'exprimer, nous serons là pour l'aider.</strong>
</p>
