{% extends 'InckCoreBundle::layout.html.twig' %}
{% trans_default_domain 'CoreBundle' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/core/default/about.css'
        'bundles/inckcore/css/Default/about.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ 'default.about.about'|trans }}{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1> {{ 'default.about.about_inck'|trans }}</h1>
            <p>
                <strong>Early Access Program.</strong> Vous êtes actuellement sur une version alpha de <strong>Inck</strong>.
                Vous pouvez reporter les bugs sur notre dépôt GitHub.
                Merci de votre visite.
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="philosophy">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    {% include('InckCoreBundle:Default:about_philosophy.html.twig') %}
                </div>
            </div>
        </div>
    </div>
    <div id="smalt">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    {% include('InckCoreBundle:Default:about_smalt.html.twig') %}
                </div>
            </div>
        </div>
    </div>
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    {% include('InckCoreBundle:Default:about_contact.html.twig') %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}