{% extends 'InckCoreBundle::layout.html.twig' %}
{% trans_default_domain 'CoreBundle' %}

{% block title %}{{ 'default.about.about'|trans }}{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
           <h1> {{ 'default.about.about_inck'|trans }}</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include('InckCoreBundle:Default:about_content.html.twig') %}
    </div>
{% endblock %}