<div id="team" class="row">
    <div class="col-md-12 text-right">
        <h2>
            <i class="fa fa-rocket"></i>
            L'incroyable équipe
        </h2>
        <p>
            Nous sommes trois étudiants, entrepreneurs, passionnés d'informatique et Inck est pour nous une oeuvre considérable dans notre entreprise.
            Si vous souhaitez rejoindre l'éqipe en tant que modérateur, vous pouvez <strong>nous contacter via le formulaire ci-dessous</strong>.
            Si vous voulez participer au <strong>développement collaboratif de Inck</strong>, il vous suffit de jeter un oeil à notre GitHUb et pourquoi pas nous faire quelques pull-request.<br>
        </p>
        <p>
            <a href="https://github.com/SmaltCreation/Inck" class="btn btn-default">
                <i class="fa fa-code"></i>
                Compte GitHub de SmaltCreation
            </a>
        </p>
    </div>

    <div class="col-xs-6 col-sm-4">
        <div class="thumbnail">
            {% image '@InckCoreBundle/Resources/public/images/nr.jpg' %}
                <img src="{{ asset_url }}" alt="Nicolas ROUVIÈRE">
            {% endimage %}
            <div class="caption text-center">
                <h3>Nicolas Rouvière</h3>
                <p>ingénieur, poète, philosophe</p>
                <p >
                    <a href="https://github.com/wasa42" class="btn btn-inverse" role="button"><i class="fa fa-fw fa-github"></i></a>
                    <a href="http://fr.linkedin.com/pub/nicolas-rouvière/93/b63/461" class="btn btn-inverse" role="button"><i class="fa fa-fw fa-linkedin"></i></a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="thumbnail">
            {% image '@InckCoreBundle/Resources/public/images/wd.jpg' %}
                <img src="{{ asset_url }}" alt="Wassim Dhif">
            {% endimage %}
            <div class="caption text-center">
                <h3>Wassim Dhif</h3>
                <p>connu comme les doigts magiques</p>
                <p>
                    <a href="https://github.com/wdhif" class="btn btn-inverse" role="button"><i class="fa fa-fw fa-github"></i></a>
                    <a href="http://fr.linkedin.com/in/wassimdhif" class="btn btn-inverse" role="button"><i class="fa fa-fw fa-linkedin"></i></a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="thumbnail">
            {% image '@InckCoreBundle/Resources/public/images/sl.jpg' %}
                <img src="{{ asset_url }}" alt="Samy Laumonier">
            {% endimage %}
            <div class="caption text-center">
                <h3>Samy Laumonier</h3>
                <p>il savait coder avant d'être né</p>
                <p>
                    <a href="https://github.com/samybob1" class="btn btn-inverse" role="button"><i class="fa fa-fw fa-github"></i></a>
                    <a href="http://fr.linkedin.com/in/slaumonier" class="btn btn-inverse" role="button"><i class="fa fa-fw fa-linkedin"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>