<div id="team" class="text-left">

    <h2><i class="fa fa-info"></i>Conditions d'utilisation</h2>
    <p>
        Conditions générales d'utilisation (CGU) inck.fr<br/>
        Dernière mise à jour le 23 Juillet 2015<br/>
        inck.fr est l’œuvre protégée de Smalt Création S.A.S.
    </p>

    <h4>ARTICLE 1 : Mentions légales</h4>
    <p>
    L'édition du site inck.fr est assurée par la Société Smalt Création SAS au capital de 2100€ dont le siège social est situé au 17 rue Clément Marot, 69330 MEYZIEU.
    Le Directeur de la publication est Monsieur Nicolas Rouvière.
    </p>

    <h4>ARTICLE 2 : accès aux services</h4>
    <p>
        Le site est accessible gratuitement en tout lieu à tout utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.
        Nous nous efforçons de maintenir un service de qualité et un accès permanent au site. Cependant nous ne pouvons garantir le maintient en ligne du site en cas de problème technique ou de mise à jour du site.22
    </p>

    <h4>ARTICLE 3 : Propriété intellectuelle</h4>
    <p>
        Toute reproduction partielle ou complète du site, de quelque manière que ce soit est formellement interdite conformément à l'article L111-1 du Code de la propriété intellectuelle, sauf accord écrit de l'éditeur Smalt Création.
    </p>

    <h4>ARTICLE 4 : Données personnelles</h4>
    <p>
        Vos données personnelles renseignées sur votre compte utilisateur sont soumis à l'article 38 de la loi "informatique et libertés" du 6 Janvier 1978 et peuvent être à tout moment supprimé sous 48 heures sans condition, par une demande écrite via le formulaire prévu à cet effet à l'adresse :<br>
        SMALT CREATION SAS<br>
        17 Rue Clément Marot, 69330 MEYZIEU
    </p>

    <h4>ARTICLE 5 : Règles de publication et code de conduite</h4>
    <p>
        La publication d'un article sur le site inck.com est soumise à un code de bonne conduite moral et civique régis par les lois Françaises. Smalt Création et l'administration du site se réserve donc le droit de supprimer toute publication illégale, délictueuse, diffamatoire, obscène, intrusive de la vie privée d’une autre personne, menaçante, malveillante, abusive, haineuse, raciste, ou autrement désobligeante ou inappropriée.
    </p>

    <h4>ARTICLE 6 : Liens hypertextes</h4>
    <p>
        Les liens hypertextes présents sur le site peuvent vous rediriger sur d'autres sites que inck.fr dans quel cas l'éditeur du site inck.fr ne sera pas responsable du contenu transmis par ces lien hypertextes.
    </p>

    <h4>ARTICLE 7 : Evolution du contrat</h4>
    <p>
        L'éditeur du site se réserve le droit de modifier à tout moment le présent contrat
    </p>

</div>