<div class="ns-thumb">
    <img src="{{ gravatar(notification.subscriber.email, 64, 'g', 'mm', true) }}">
</div>
<div class="ns-content">
    <p>
        <a href="{{ path('fos_user_profile_preview', { 'username': notification.subscriber.username }) }}">
            {{
                notification.subscriber.lastName and notification.subscriber.firstName
                    ? notification.subscriber.firstName ~ ' ' ~ notification.subscriber.lastName
                    : notification.subscriber.username
            }}
        </a>
        s'est abonné à vous.
    </p>
</div>
