{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a class="btn btn-link btn-to-be-seen btn-tooltip{% if toBeSeen %} to-be-seen{% endif %}" data-id="{{ id }}">
        {% if toBeSeen %}
            <i class="fa fa-check"></i> <span class="btn-text">Noté pour plus tard</span>
        {% else %}
            <i class="fa fa-clock-o"></i> <span class="btn-text">À regarder plus tard</span>
        {% endif %}
    </a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-link btn-to-be-seen btn-tooltip" data-id="{{ id }}" {% if not app.user %}data-toggle="tooltip" data-placement="bottom" data-container="body" title="Connectez-vous pour vous ajouter cet article dans votre liste"{% endif %}>
        <i class="fa fa-clock-o"></i> <span class="btn-text">À regarder plus tard</span>
    </a>
{% endif %}