<div class="articles" data-total-articles="{{ totalArticles }}" data-total-pages="{{ totalPages }}">
    {% if articles is not null %}
        {% for article in articles %}
            <article itemscope itemtype="http://schema.org/Article" id="article-{{ article.id }}" class="article">
                <div class="row">
                    <div class="col-xs-7 col-sm-8">
                        <div class="summary hidden-xs hidden-sm visible-md visible-lg">
                            {% include "InckArticleBundle:Article:summary.html.twig" %}
                        </div>
                        <div class="summary visible-xs visible-sm hidden-md hidden-lg">
                            {% include "InckArticleBundle:Article:thumbnail.html.twig" %}
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-4">
                        <div class="social">
                            {{ render(controller('InckArticleBundle:Article:social', { article: article })) }}
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% endif %}
</div>