{% extends 'InckArticleBundle::layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ article.title }}</h1>
                    {% if app.security.getToken().getUser() == article.author %}
                        <a href="{{ path('inck_article_article_edit', { 'id': article.id } ) }}" class="btn btn-default">
                            Éditer
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% include('InckArticleBundle:Article:show_content.html.twig') %}
    </div>
{% endblock %}