{% block stylesheets %}
    {% stylesheets filter='yui_css' filter='cssrewrite' output='css/compiled/article/article/show_content.css'
        'bundles/inckarticle/css/Article/show_content.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

<article id="article-{{ article.id }}" class="article" itemscope itemtype ="http://schema.org/Article">
    <div class="row">
        <div class="col-xs-8">
            <section id="summary">
                {% include "InckArticleBundle:Article:summary.html.twig" %}
            </section>

            <section id="content"  itemprop="articleBody">
                {{ article.content|raw }}
            </section>

            <section id="user"  itemprop="creator">
                {% set user = article.author %}
                {% include ('InckUserBundle:Profile:card.html.twig') %}
            </section>
        </div>
        <div class="col-xs-4">
            <section itemprop="additionalType" itemscope itemtype="http://schema.org/Action">
                {% include "InckArticleBundle:Article:social.html.twig" %}
            </section>
        </div>
    </div>
</article>