<div class="articles">
    {% for article in articles %}
        <article itemscope itemtype="http://schema.org/Article" id="article-{{ article.id }}" class="article">
            <div class="row">
                <div class="col-xs-8">
                    <div class="summary">
                        {% include "InckArticleBundle:Article:summary.html.twig" %}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="social">
                        {% include "InckArticleBundle:Article:social.html.twig" %}
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
</div>