.singleupload-buttonbar {
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-top: none;
    padding: 0;
}

.singleupload-buttonbar .btn, .singleupload-buttonbar .singleupload-controls-wrapper{
    margin-top: 0;
}

.single-upload-preview {
    padding-top: 33px !important;
}