.singleupload-buttonbar {
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-top: none;
    padding: 0;
}

.singleupload-buttonbar .btn, .singleupload-buttonbar .singleupload-controls-wrapper{
    margin-top: 0;
}

.single-upload-preview {
    padding-top: 33px !important;
}

.cke_top {
    background: #F9F9F9 !important;
}

.cke_bottom {
    background: #F9F9F9 !important;
}

.cke_chrome {
    border: 1px solid #444 !important;
    box-shadow: none!important;
    -webkit-box-shadow: none !important;
    }

.cke_button {
    background-color: #FFF !important;
    border-color: #CCC !important;
}

.cke_toolgroup {
    border-color: #CCC !important;
}

.cke_toolbar_separator {
    visibility: hidden;
}

.cke_combo_button {
    background: #FFF !important;
    border-color: #CCC !important;
}

.single-upload-preview {
    border: none;
}

.inck_articlebundle_article_imageFile_preview_image img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

span.glyphicon {
    margin-right: 5px;
}
