article .votes .btn-vote{
    color: #888;
}

article .votes button.voted{
    color: #57a3e8;
}

article .score .progress {
    height: 5px;
    transition: width 1s linear;
    margin-bottom: 5px;
    border-radius: 0 0 10px 10px;
}

article .score .progress-bar-info {
    background-color: #ffb46b;
}