article .social h3 {
    margin-top: 10px;
}

article .social a:hover {
    text-decoration: none;
    opacity: 0.6;
}

article .social .row-table {
    display: table;
}

article .social .row-table .votes,
article .social .row-table .stats {
    display: table-cell;
    min-width: 80px;
}

article .social .votes button.voted,
article .social .votes button:hover {
    color: #8DCDC1;
}

article .social .votes button.voted,
article .social .votes button:hover {
    text-shadow: 0 0 20px black;
}

article .social .score .progress {
    transition: width 1s linear;
}