article .social h3 {
    margin-top: 10px;
}

article .social a:hover {
    text-decoration: none;
    opacity: 0.6;
}

article .social .row-table {
    display: table;
}

article .social .row-table .votes,
article .social .row-table .stats {
    display: table-cell;
    min-width: 80px;
}

article .social .votes button.voted{
    opacity: 0.8;
    text-shadow: 0 0 10px black;
}

article .social .votes button.voted i{
    transform: scale(1.3);
}

article .social .score .progress {
    transition: width 1s linear;
}